.65_3 { 
	overflow:hidden;
}
.e65_3 { 
	width:1104px;
	height:773px;
	position:absolute;
}
.e1_45 { 
	width:1104px;
	height:773px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_59 { 
	width:1104px;
	height:773px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:1104px;
	height:773px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_9 { 
	width:448px;
	height:465px;
	position:absolute;
	left:628px;
	top:163px;
	background-image:url(../images/monik_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.text-test { 
	color:rgba(255, 0, 0, 1);
	width:279px;
	height:34px;
	position:absolute;
	left:173px;
	top:245px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.text-desc { 
	color:rgba(0, 0, 0, 1);
	width:418px;
	height:145px;
	position:absolute;
	left:172px;
	top:292px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e1_73 { 
	width:308px;
	height:62px;
	position:absolute;
	left:384px;
	top:661px;
}
.zayavk_back { 
	background-color:rgba(255, 0, 0, 1);
	width:308px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.text-zayavk { 
	color:rgba(255, 255, 255, 1);
	width:255px;
	height:31px;
	position:absolute;
	left:27px;
	top:15px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e1_72 { 
	width:109px;
	height:117px;
	position:absolute;
	left:452px;
	top:442px;
}
.e1_68 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:27px;
	position:absolute;
	left:5px;
	top:90px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e16_5 { 
	width:109px;
	height:79px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/desktop_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_71 { 
	width:98px;
	height:117px;
	position:absolute;
	left:309px;
	top:442px;
}
.e1_67 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:28px;
	position:absolute;
	left:19px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e16_4 { 
	width:98px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/web_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_66 { 
	width:83px;
	height:109px;
	position:absolute;
	left:172px;
	top:442px;
}
.e1_65 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:20px;
	position:absolute;
	left:0px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e16_3 { 
	width:45px;
	height:79px;
	position:absolute;
	left:19px;
	top:0px;
	background-image:url(../images/mobile_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_46 { 
	width:1104px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_47 { 
	background-color:rgba(187.00000405311584, 187.00000405311584, 187.00000405311584, 1);
	width:1104px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.header-glavnaya { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:24px;
	position:absolute;
	left:335px;
	top:60px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.header-yslygi { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:22px;
	position:absolute;
	left:470px;
	top:60px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.header-komanda { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:28px;
	position:absolute;
	left:590px;
	top:60px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.bytex_logo { 
	width:199px;
	height:41px;
	position:absolute;
	left:23px;
	top:5px;
	background-image:url(../images/bytex_logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.header-ru { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:25px;
	position:absolute;
	left:1024px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.header-en { 
	color:rgba(0, 0, 0, 1);
	width:40px;
	height:33px;
	position:absolute;
	left:1060px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.header-svyas_ground { 
	width:192px;
	height:33px;
	position:absolute;
	left:812px;
	top:8px;
}
.header-svyas-back { 
	background-color:rgba(201.00000321865082, 13.000000175088644, 13.000000175088644, 1);
	width:192px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}
.header-svyas { 
	color:rgba(255, 255, 255, 1);
	width:145.58241271972656px;
	height:17px;
	position:absolute;
	left:27.428571701049805px;
	top:7px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.header_number { 
	color:rgba(0, 0, 0, 1);
	width:221px;
	height:24px;
	position:absolute;
	left:569px;
	top:13px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.button {

	background: transparent;
	border: none !important;
  }
  .button:active { 
	transform: scale(0.98); 
} 
a { 
	text-decoration: none; 
	color: black;
  
  }